<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322052398429-htfp5qq0h8gqr9fskfq6sl4bpf3cbhk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322052398429-htfp5qq0h8gqr9fskfq6sl4bpf3cbhk1</string>
	<key>API_KEY</key>
	<string>AIzaSyDqBVp8H8YrRaoiNURkJ6yGn5XthrYiO9g</string>
	<key>GCM_SENDER_ID</key>
	<string>322052398429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.nwmissouri.iOS-Group-Project</string>
	<key>PROJECT_ID</key>
	<string>ios-group-project-63680</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-group-project-63680.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322052398429:ios:c78b8d081ec859ae529cb4</string>
</dict>
</plist>